<div class="flex flex-wrap gap-4">
  <button mat-raised-button color="warn" (click)="get400Error()">400 error</button>
  <button mat-raised-button color="warn" (click)="get404Error()">404 error</button>
  <button mat-raised-button color="warn" (click)="get500Error()">500 error</button>
  <button mat-raised-button color="warn" (click)="get401Error()">401 error</button>
  <button mat-raised-button color="warn" (click)="get400ValidationError()">400 validation error</button>
</div>

@if(validationErrors){
  <div class="text-red-500 mx-auto max-w-lg mt-5 bg-red-100">
    <ul class="space-y-2 p-2">
      @for (error of validationErrors; track $index){
        <li>{{error}}</li>
      }
    </ul>
  </div>
}
